<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
        <property name="dialect" value="mysql" />
    </properties>
    <!-- LOG4J控制台输出sql语句 -->
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
</configuration>